[defaults]
inventory            = inventories/dev/hosts.yml
roles_path           = roles
collections_path     = ~/.ansible/collections
retry_files_enabled  = False
host_key_checking    = True
interpreter_python   = auto_silent
stdout_callback      = yaml
callbacks_enabled    = timer, profile_tasks
forks                = 20
timeout              = 30
gathering            = smart
fact_caching         = jsonfile
fact_caching_connection = /tmp/ansible-fact-cache
fact_caching_timeout = 3600

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
become_ask_pass = False

[ssh_connection]
pipelining    = True
control_path  = /tmp/ansible-ssh-%%h-%%p-%%r
